$color: blue;


@mixin cssProperties{
    #main {
        color: blue;
        background: green;
        line-height: 1.8;
    }

}


body{
    color: green;
    width: 200px;
    @include cssProperties();
}